<div class="card demandcard topcard mb-3">
  <div class="card-header text-bold h5 m-0">
    <h4 class="page-title">étape 1 : Entretien Technique</h4>
  </div>

  <div class="card-body">
    <ul>
      <li> L'aventure avec nous commencera par un court qcm .</li>
      <li> Ce questionnaire, d'environ 30 minutes, est proposé pour évaluer vos connaissances.</li>
      <li> À propos du quiz</li>
      <li> Questions à Choix Multiples </li>
      <li> Aucun codage requis </li>
      <li>Chaque question a un créneaux fixe </li>
      <li> Si le créneau est terminé le serveur va passer automatiquement à la question suivante </li>
      <li> Pour valider votre réponse il faut se cliquer sur le bouton suivant et si bien le cas vous pouvez pas
        retourner a cette question </li>
      <li> Si vous avez une coupure de connexion au moment du quiz vous avez le droit de recommencer le quiz depuis
        la derniere question dont vous avez repondu.</li>
      <li> Je vous conseillé de bien concentrer et de lisez attentivement les questions avant de repondre.</li>
      <li> Une fois vous commencer , il y a pas de retour </li>
      <li> Finalement je vous souhaite trés bon courage </li>

    </ul>


    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="commencer()">Commencer </button>
    </div>
  </div>
</div>