<div>
  <!-- start page title -->
  <div class="row rowline mb-2">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-top w-100 d-flex justify-content-between align-items-center mt-0">
          <h4 class="page-title">List Candidat</h4>
          <div class="d-flex flex-wrap col-12 col-xl-9 mb-3 mb-xl-0 justify-content-end ">

          <button type="button" class="btn btn-primary me-2" (click)="gotoCandidat()"><i class="uil-plus mr-1"></i>
            Nouveau Candidat</button>
          <button class="btn btn-dark " type="button" title="Filtrer" (click)="openModalFiltrer(modalFiltrer)">
            <i class="mdi mdi-filter"></i> </button>
          <!-- <hr /> -->
        </div>
      </div>

      </div>
    </div>
  </div>
  <!-- end page title -->


  <div class="card demandcard topcard mb-3">
    <!-- <div class="card-header text-bold h5 m-0">Candidat</div> -->
    <div class="card-body py-0">
      <div>

        <kendo-grid [data]="creancesGrid" [pageSize]="pageSize" [skip]="skip" [pageable]="true"
          (pageChange)="pageChange($event)" class="page-grid-container" [resizable]="true" [reorderable]="true"
          [sortable]="{ mode: 'single' }" (selectionChange)="selectedRow($event)">
          <kendo-grid-column title="Actions" class="text-center" [width]="60">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <button title="Modifier Candidat" (click)="addCandidat(dataItem)" kendoButton class="mdi mdi-square-edit-outline btn btn-primary m-1"></button>
              <button title="Affecter Un Qcm a Un(E) Candidat(E)" (click)="affecteQcm(dataItem)" kendoButton class="mdi mdi-format-color-highlight btn btn-primary m-1"></button>
              <!-- <button (click)="envoiMail(dataItem)" kendoButton class="mdi mdi-email-mark-as-unread"></button> -->

            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="nom" title="Nom" [width]="50">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div> {{dataItem.nom}} </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="prenom" title="Prenom" [width]="50">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div> {{dataItem.prenom}} </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="mail" title="Email" [width]="100">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div> {{dataItem.mail}} </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="ville" title="Ville" [width]="30">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div> {{dataItem.ville}} </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="adresse" title="Adresse" [width]="90">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div> {{dataItem.adresse}} </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="tel" title="tel" [width]="60">
          </kendo-grid-column>

          <kendo-grid-column field="societe" title="Societe" [width]="50">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div> {{dataItem.societe.nom}} </div>
            </ng-template>
          </kendo-grid-column>

        </kendo-grid>

      </div>
    </div>

  </div>

</div>


<ng-template #modalFiltrer let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Recherche Candidat</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>

  <form [formGroup]="fg">
    <div class="card demandcard topcard mb-3">

      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" class="form-control " placeholder="nom" formControlName="nom">
            </div>
          </div>


          <div class="col-md-4">
            <div class="mb-3">
              <label for="prenom" class="form-label">Prenom</label>
              <input type="text" class="form-control " placeholder="prenom" formControlName="prenom">
            </div>
          </div>


          <div class="col-md-4">
            <div class="mb-3">
              <label for="ville" class="form-label">Ville</label>
              <input type="ville" class="form-control " placeholder="ville" formControlName="ville">
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <label for="mail" class="form-label">Email</label>
              <input type="email" class="form-control " placeholder="mail" formControlName="mail">
            </div>
          </div>




          <div class="col-md-4">
            <div class="mb-3">
              <label for="tel" class="form-label">Tel</label>
              <input type="tel" class="form-control " placeholder="tel" formControlName="tel">
            </div>
          </div>


          <div class="col-md-4">
            <div class="mb-3">
              <label for="adresse" class="form-label">Adresse</label>
              <input type="text" class="form-control " placeholder="adresse" formControlName="adresse">
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <label for="societe" class="form-label">Societe</label>
              <input type="text" id="iptEditCmd" class="form-control" placeholder="societe" [ngbTypeahead]="search"
                (selectItem)="selectedSociete($event)" [resultFormatter]="formatter" [inputFormatter]="formatter"
                appTypeaheadScrollFix formControlName="societe" />
            </div>
          </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="submit()">Filtrer</button>
        </div>
      </div>
    </div>
    </div>
  </form>
</ng-template>

