

    <div class="row">

        <div class="col-lg-6 left-homelanding px-0">


          <div class="left-homelandingcont  h-100 d-flex flex-column align-content-between">

            <div class="left-homelandingcontup bg-white position-relative px-3 px-md-4 py-4 p-md-5 p-lg-4  ">
              <div class="blurred-img d-none d-lg-block"></div>
                <h3 class="display-4 position-relative" style="z-index:1; max-width: 520px;">Concrétisez vos plus belles idées, sans effort inutile.</h3>


                <div class="left-homelandingcontdown bg-white d-block d-lg-none pt-4  pt-md-5 pt-lg-4" >

                  <div class="left-homelandingcontdown-body lead mx-auto" style="max-width: 520px;">
                    <p class="position-relative ">Des petites tâches aux grandes initiatives, Asana aide les équipes à organiser leur travail de façon à savoir quoi faire, pourquoi et comment.</p>
    
    
               
                  </div>
    
                </div>
     
            </div>
            

          


            <div class="left-homelandingcontdown bg-white d-none d-lg-grid p-md-5 p-lg-4" style="min-height: 50%;display: grid; place-items: center;">

              <div class="left-homelandingcontdown-body mx-auto lead pt-" style="max-width: 520px;">
                <p class="mb-4 position-relative ">iPharm aide les équipes à organiser votre  travail de façon à savoir quoi faire, pourquoi et comment.</p>


              <a href="#" class="btn btn-warning text-white py-2 px-3 mb-3">S'inscrire</a>
              </div>

            </div>

         


          </div>


        </div>





        <div class="col-lg-6 d-flex flex-column justify-content-center" style="background-color: #F3F3F3;">

          
          <div class="loginform d-block overflow-hidden">
            
        <div class="formcard position-relative my-4 my-lg-0 mx-2">
          <div class="loginformbg d-none d-md-block"></div>
          <div class="card position-relative my-4 my-lg-0" style="z-index: 1;">
          
            <!-- Logo -->
            <div class="card-header py-3 text-center bg-primary">
              <a routerLink="/">
                <span><img src="../../../../../assets/images/logo-dark.svg" alt="" height="28"></span>
              </a>
            </div>
  
            <div class="card-body p-4">

              <div class="text-center w-75 m-auto">
                  <h4 class="text-dark-50 text-center mt-0 fw-bold"> A bientôt !</h4>
                  <p class="text-muted mb-4"> Vous êtes maintenant déconnecté avec succès.</p>
              </div>

              <div class="logout-icon m-auto">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 161.2 161.2"
                      enable-background="new 0 0 161.2 161.2" xml:space="preserve">
                      <path class="path" fill="none" stroke="#0acf97" stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
                                  c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
                                  c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z" />
                      <circle class="path" fill="none" stroke="#0acf97" stroke-width="4"
                          stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1" />
                      <polyline class="path" fill="none" stroke="#0acf97" stroke-width="6"
                          stroke-linecap="round" stroke-miterlimit="10" points="113,52.8
                                  74.1,108.4 48.2,86.4 " />

                      <circle class="spin" fill="none" stroke="#0acf97" stroke-width="4"
                          stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6"
                          r="73.9" />
                  </svg>
              </div> <!-- end logout-icon-->

          </div> <!-- end card-body-->
      </div> <!-- end card-->

      <div class="row mt-3">
          <div class="col-12 text-center position-relative">
              <p class="text-muted">Retour <a [routerLink]="['../login']" class="text-muted ms-1"><b>connexion</b></a></p>
          </div> <!-- end col -->
      </div>
      <!-- end row -->





        </div>


        


    </div>






<footer class="footer footer-alt">
  2021 © Ipharm - ipharm.com
</footer>

